.shop {
  --shop-gap: 10px;
  grid-area: shop;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: var(--shop-gap);
  padding-top: var(--shop-gap);
}